<%- include('../partials/header'); %>

<main class="main main-home">
    <h2 class="home-header">
        Single Avatar Page
    </h2>

    <p><%= item.name %></p>
    <p><%= item.bio %></p>
    <p><%= item.nationality %></p>
    <p><%= item.ethnicity %></p>
    <p><%= item.ages %></p>
    <p><%= item.born %></p>
    <p><%= item.died %></p>
    <p><%= item.physicalDescription %></p>
    <p><%= item.personalInformation %></p>
    <p><%= item.enemies %></p>
    <p><%= item.weaponsOfChoice %></p>
    <p><%= item.figthingStyles %></p>
    <p><%= item.politicalInformation %></p>
    <p><%= item.position %></p>
    <p><%= item.predecessor %></p>
    <p><%= item.chronologicalInformation %></p>
    <p><%= item.voicedBy %></p>
</main>

<%- include('../partials/footer'); %> 